* {
    margin: 0;
    padding: 0;
    transition: 0.1s; }


h1 {
    color: #C3FF00;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em; }

body {
    background-color: rgba(100, 191, 0, 0.93);
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    color: #303030; }

.form {
    background-color: rgba(188, 184, 191, 0.93);
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    color: #303030;
}

.tab_topo {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



p {
    width: 350px;
    text-align: justify;
    padding: 12px;
    margin: auto auto 20px;
}

.inline-form input {
    display: inline-block;
    width: 100px;
}
