* {
    margin: 0;
    padding: 0;
    transition: 0.1s; }

body {
    background-color: darkgray;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    color: black; }

.commentaire {
    text-align: left;
}

.cadre {
    border: 5px #dc3545 ridge;
}

.form {
    background-color: darkgray;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}

.navbar-inverse {
    background-color: black;
}

.title {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em; }


p {
    width: 350px;
    text-align: justify;
    padding: 12px;
    margin: auto auto 20px;
}

.inline-form input {
    display: inline-block;
    width: 100px;
}
