* {
    margin: 0;
    padding: 0;
    transition: 0.1s; }

body {
    background-color: gray;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    color: #303030; }

.form {
    background-color: gray;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    color: #303030;
}

.title {
    color: deepskyblue;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em; }


p {
    width: 350px;
    text-align: justify;
    padding: 12px;
    margin: auto auto 20px;
}

.inline-form input {
    display: inline-block;
    width: 100px;
}
